<div class="event <%= event.slug %> <% if event.featured == true %>featured<% end %> four columns">
  <%= link_to(event) do %>
    <div class="inside">
      <% if event.photo.file? %>
        <%= image_tag event.photo.url(:medium) %>
      <% end %>
      <% if event.featured? %>
        <span class="featured">Featured!</span>
      <% end %>
      <h3><%= event.name %></h3>
      <p><%= event.start_date %></p>
      <% if event.cost == 0 %>
        <p>Free!</p>
      <% else %>
        <%= number_to_currency event.cost %>
      <% end %>
      <% if event.venue_id? %>
        <p><span class="small-ital">at</span> <%= event.venue.name %></p>
      <% end %>
      <% if event.all_ages == true %>
        <p>All ages!</p>
      <% else %>
        <p>21+</p>
      <% end %>
    </div>
  <% end %>
</div>