<div class="event <%= event.name %> <% if event.featured == true %>featured<% end %> four columns">
  <div class="inside">
    <% if event.photo.file? %>
      <%= image_tag event.photo.url(:thumb) %>
    <% end %>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <p>starts: <%= event.start_date %></p>
    <p>at: <%= event.venue.name %></p>
    <% if event.all_ages == true %>
      <p>All ages!</p>
    <% else %>
      <p>21+</p>
    <% end %>
    <% if event.cost == 0 %>
      <p>Free!</p>
    <% else %>
      <%= number_to_currency event.cost %>
    <% end %>
  </div>
</div>