<div class="event-show <%= @event.slug %> <% if @event.featured == true %>featured<% end %> sixteen columns">
  <div class="inside">
    <% if @event.photo.file? %>
      <%= image_tag @event.photo.url(:large) %>
    <% end %>
    <div class="details">
      <h3><%= @event.name %></h3>
      <div class="info">
        <p><%= @event.start_date %>
        <% if @event.end_date %>
          <%= @event.end_date %>
        <% end %>
        <span class="light">::</span>
        <% if @event.venue_id? %>
          at: <%= @event.venue.name %>
        <% end %>
        <span class="light">::</span>
        <% if @event.all_ages == true %>
          All ages!
        <% else %>
          21+
        <% end %>
        <span class="light">::</span>
        <% if @event.cost == 0 %>
          Free!
        <% else %>
          <%= number_to_currency @event.cost %>
        <% end %>
      </div>
      <div class="description"><%= @event.description %></div>
      
    </div>
  </div>
</div>