<!DOCTYPE html>
<html>
<head>
  <title>Olyevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>
  
  <div class="main row">
    <div class="sixteen columns">
      <%= yield %>
    </div>
  </div>
  
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
